.exit {
    color: rgb(255, 117, 225);
}

.null {
    color: rgb(189, 189, 189);
}

.flower {
    color: rgb(255, 129, 26);
}

.run {
    color: rgb(121, 163, 255);
}

.board {
    color: rgb(109, 197, 255);
}

.suit-green {
    color: rgb(14, 214, 41);
}

.suit-blue {
    color: rgb(49, 99, 206);
}

.suit-black {
    color: rgb(0, 0, 0);
}