.exit {
    color: rgb(255, 117, 225);
}

.null {
    color: rgb(189, 189, 189);
}

.flower {
    color: rgb(255, 129, 26);
}

.run {
    color: rgb(121, 163, 255);
}

.board {
    color: rgb(109, 197, 255);
}
